@import url('https://fonts.cdnfonts.com/css/nunito-sans');

* {
    font-family: 'Nunito Sans';
}

header {
    background-color: #444;
    display: flex;
    flex-direction: row;
}

.push {
    margin-left: auto;
}

.navbar-brand {
    color: lightgray !important;
}

.presentation {
    height: 1100px;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

u {
    text-decoration-style: dotted;
}
h1 {
    font-size: 6rem !important;
}

h2 {
    font-size: 3.5rem !important;
}

footer {
    background-color: #EEE;
}